[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
termcolor = "*"
mock = "*"
dill = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
altair = "*"
seaborn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
